{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}


 <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
     {% for book in books %}
        <div class="row">
            <div class="book col-md-4">
                <h2>{{book.name}}</h2>
                <p>{{book.author}}</p>
                <p>{{book.pub_date}}</p>
            </div>

        </div>
      {% if page.has_previous %}
     <a class="button button-primary" href="?page={{ page.previous_page_number }}"><<{{ previous_date}}</a>
     {% endif %}

     {% if page.has_next %}
     <a class="button button-primary" href="?page={{ page.next_page_number }}"> {{next_date}}>> </a>
     {% endif %}
     {% empty %}
    <p>Книга не найдена :(</p>
     {% endfor %}


 </div>

{% endblock %}